on:
  push:
    tags:
      - 'v*'

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      # image tag
      - name: set image tag
        run: |
          echo ::set-output name=tag::${GITHUB_REF:1}-${GITHUB_SHA::8}
        id: image

      - name: checkout
        uses: actions/checkout@v2
      - name: build & push
        run: |
          docker build . -t docker.pkg.github.com/mischal/releasing-test/hello-world:${{ steps.image.outputs.tag }}
          docker login docker.pkg.github.com --username $USERNAME --password $PASSWORD
          docker push docker.pkg.github.com/mischal/releasing-test/hello-world:${{ steps.image.outputs.tag }}
        env:
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
